<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.
  Defaults provided for UR10:
   - 6 joints
  Usage:
    robot_interface_URx.launch>
-->
<launch>
  <!-- IP address of robot, change if necessary, default is 10.42.0.163 -->
  <arg name="robot_ip" default="10.0.0.100" />

  <!-- UR robot model, ur3, ur5, ur10 note, may not be compatible with urXe series -->
  <arg name="model" default="ur10" />

  <!-- controller: Controller name fs100 for usna sia20f purchased in AY21-->
  <arg name="target_fname" value="/home/universal_robots/UR_ws/src/usna_ur_ros/src/$(arg model)_factory_calibration.yaml" />


  <include file="$(find ur_robot_driver)/launch/$(arg model)_bringup.launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
    <arg name="kinematics_config" value="$(arg target_fname)" />
    <arg name="reverse_port"        value="50001" />
    <arg name="script_sender_port"  value="50002" />
    <!-- arg name="trajectory_port"     value="51003" -->
  </include>

  <node name="trajectory_action_MatlabWrapper" pkg="usna_ur_ros" type="matlab_realTime_wrapper_ur.py" respawn="true"/>

</launch>
